/* Sidebar */

.sidebar {
  background-color: var(--grey-900);
  width: 18.75rem;
  height: 100vh;
  position: fixed;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.sidebar .logo {
  margin: 2.5rem 1.5rem 4rem;
}

.sidebar .container-fluid .nav-link {
  color: var(--grey-300);
  font-size: var(--text-preset-3-font-size);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
  font-family: var(--font-bold);
}

.sidebar .container-fluid .nav .nav-link:focus,
.sidebar .container-fluid .nav .nav-link:hover {
  color: var(--grey-900);
  background-color: var(--beige-100);
  width: 14rem;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-left: 4px solid var(--green);
}

.sidebar .container-fluid .nav-item img {
  margin-right: 1.2rem;
}

.sidebar .container-fluid .min {
  margin-top: 1rem;
  cursor: pointer;
}

.sidebar .container-fluid .nav .nav-item .btn {
  width: 80%;
  margin-top: 10rem;
}

/* End Sidebar */

/* Minimize Sidebar */

:host-context(body.collapsed) .sidebar {
  width: 5.5rem;
}

:host-context(body.collapsed) .sidebar .container-fluid .nav-link span {
  display: none;
}

:host-context(body.collapsed) .sidebar .container-fluid .nav .nav-link:focus,
:host-context(body.collapsed) .sidebar .container-fluid .nav .nav-link:hover {
  width: auto;
  border: none;
}

/* End Minimize Sidebar */
